#lbDistancia{
    font-size: 18px;
    width: 100%;
}

#timepicker{
    background: white;
    text-align: left;
    border-radius: 5px 0 0 5px;
}

#notes{
    resize: none;
    height: 100px;
}

#sandbox-container{
    margin-bottom: 15px;
}

#distance-container{
    width: 230px;
}

#distance{
    width: 100px;
}

#distance-radio-btn{
    width: 85px;
    margin-top: -10px;
    margin-left: 10px;
}

#distance-radio-btn .radio{
   margin-left: -15px; 
}
